body{
    background: rgb(209, 208, 208);
}
header div {
    background: white;
    text-align: center;
    padding: 10px;
}
.cajas {
    margin-top: 20px;
    
    display: block;
}
.cajas div{
    background: white;
    margin: 10px;
    padding:15px;
    margin-left: auto;
    margin-right:auto ;
    width: 600px;
}

p{
    display: inline;
    margin-left: 450px;
    
}
img{
    display: block;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
}
span{
    margin-bottom: 110px;
}